body{
    background-color: gray;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    width: 40%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    min-height: 70%;
}
.twitter_icon{
    color: rgb(29,155,240);
}


.signin_container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.button{
    
    background-color: white;
    border-radius: 25px;
    border: 0.5px solid gray;
    width: 80%;
    justify-content: center;
}
.create_button{
    border-radius: 25px;
    border: 0.5px solid gray;
    width: 80%;
    padding: 10px;
    justify-content: center;
    background-color: black;
    color: white;
}
.sign_button{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
}
.sign_icon{
    margin: 3px;
   
}
.login_button{
    border: none;
    color:rgb(29,155,240) ;
    background-color: white;
}
.content{
    font-size: smaller;
}