
.container{
    display: flex;
    flex: .7;
    background-color: white;
    box-shadow: 1px solid gray;
    /* border: 1px solid gray; */
    
   
}
.sidenavbar{
    display: flex;
    flex: .2;
    /* border: 1px solid gray; */
    box-shadow: 1px solid gray;
    margin-right: 10px;
}
.content{
    display: flex;
    
    flex-direction: row;
    /* border: 1px solid gray; */
    box-shadow: 1px solid gray;
    margin-left: 35% ;
}
.rightsidebar{
    width: 50%;
    box-shadow: 1px solid gray;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 1px solid gray;
}