.post{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: .5px solid gray;
    margin: 20px;
    padding: 10px;
    width: 450px;
}
.userInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.description{
    display: flex;
}
.postimage{
    border: 1px solid gray;
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  object-fit: cover;
  z-index: 1;
}
.posticons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border: 0;
    padding: 5px;
}
.retweeticon{
    background-color: white;
    border: 0;
    justify-content: center;
}
.retweeticon:hover{
    background-color: lightblue;
    /* border-radius: 15px; */
}
.hearticon{
    background-color: white;
    border: 0;
    /* border-radius: 15px; */
}
.hearticon:hover{
    background-color:deeppink;
}
.posticon{
    background-color: white;
    border: 0;
}
.posticon:hover{
 cursor: pointer;
 background-color: lightblue;
}